<h1>Лабораторная работа №3. Подготовка обучающей и тестовой выборки, кросс-валидация и подбор гиперпараметров на примере метода ближайших соседей.<h1>

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV, RandomizedSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from matplotlib import pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from warnings import simplefilter

simplefilter('ignore')

In [2]:
df = pd.read_csv('top50.csv', encoding='ISO-8859-1')
df.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Señorita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        50 non-null     int64
 1   Track.Name        50 non-null     object
 2   Artist.Name       50 non-null     object
 3   Genre             50 non-null     object
 4   Beats.Per.Minute  50 non-null     int64
 5   Energy            50 non-null     int64
 6   Danceability      50 non-null     int64
 7   Loudness..dB..    50 non-null     int64
 8   Liveness          50 non-null     int64
 9   Valence.          50 non-null     int64
 10  Length.           50 non-null     int64
 11  Acousticness..    50 non-null     int64
 12  Speechiness.      50 non-null     int64
 13  Popularity        50 non-null     int64
dtypes: int64(11), object(3)
memory usage: 5.6+ KB

Подготовка датасета

In [4]:
remove_cols = ['Unnamed: 0', 'Track.Name']
df.drop(remove_cols, axis=1, inplace=True)
df.head()

,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [5]:
# Количество уникальных значений
category_cols = ['Artist.Name', 'Genre']
for c in category_cols:
    print(f'{c}: {df[c].unique().size}/{df[c].shape[0]}')

Artist.Name: 38/50
Genre: 21/50

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
le = LabelEncoder()
for c in category_cols:
    df[c] = le.fit_transform(df[[c]])
df.head()

,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,32,6,117,55,76,-6,8,75,191,4,3,79
1,1,19,105,81,79,-4,8,61,302,8,9,92
2,2,8,190,80,40,-4,16,70,186,12,46,85
3,9,15,93,65,64,-8,8,55,198,12,19,86
4,28,9,150,65,58,-4,11,18,175,45,7,94

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist.Name       50 non-null     int64
 1   Genre             50 non-null     int64
 2   Beats.Per.Minute  50 non-null     int64
 3   Energy            50 non-null     int64
 4   Danceability      50 non-null     int64
 5   Loudness..dB..    50 non-null     int64
 6   Liveness          50 non-null     int64
 7   Valence.          50 non-null     int64
 8   Length.           50 non-null     int64
 9   Acousticness..    50 non-null     int64
 10  Speechiness.      50 non-null     int64
 11  Popularity        50 non-null     int64
dtypes: int64(12)
memory usage: 4.8 KB

In [8]:
df.dropna()

,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,32,6,117,55,76,-6,8,75,191,4,3,79
1,1,19,105,81,79,-4,8,61,302,8,9,92
2,2,8,190,80,40,-4,16,70,186,12,46,85
3,9,15,93,65,64,-8,8,55,198,12,19,86
4,28,9,150,65,58,-4,11,18,175,45,7,94
5,9,15,102,68,80,-5,9,84,220,9,4,84
6,20,20,180,64,75,-6,7,23,131,2,29,92
7,30,15,111,68,48,-5,8,35,202,15,9,90
8,19,7,136,62,88,-6,11,64,157,5,10,87
9,4,11,135,43,70,-11,10,56,194,33,38,95
10,3,18,176,62,61,-5,24,24,251,60,31,93
11,6,8,96,71,82,-4,15,38,185,28,7,86
12,18,15,110,41,50,-6,11,45,182,75,3,88
13,31,14,176,79,73,-2,6,76,288,7,20,87
14,8,5,101,50,83,-4,12,10,205,10,5,92
15,5,8,93,45,70,-7,16,14,261,12,15,82
16,10,13,176,65,75,-6,11,43,243,15,32,90
17,28,9,90,48,76,-6,7,91,158,56,5,91
18,36,5,130,39,84,-8,14,50,161,18,8,88
19,21,12,158,62,72,-3,12,41,173,11,11,91
20,23,16,124,74,68,-7,7,63,153,4,3,91
21,19,7,154,59,70,-6,12,48,115,34,8,91
22,11,19,92,79,81,-4,9,58,309,14,7,83
23,22,13,92,78,80,-4,44,80,266,36,4,91
24,4,11,135,45,67,-11,12,68,195,25,30,89
25,32,6,124,82,69,-4,13,87,191,49,6,70
26,35,1,98,59,82,-6,18,54,210,69,10,83
27,0,5,96,46,73,-7,19,40,213,37,3,89
28,7,13,94,86,74,-3,6,66,193,11,6,91
29,10,13,93,79,64,-4,36,94,222,3,25,89
30,34,10,85,51,29,-8,10,36,210,12,4,84
31,2,8,140,32,78,-11,9,33,179,59,33,89
32,24,18,96,71,78,-5,9,68,176,22,28,89
33,37,0,98,59,80,-7,13,18,200,2,15,89
34,13,8,100,88,77,-5,32,39,224,19,6,89
35,26,2,114,72,66,-7,14,32,164,18,6,89
36,31,14,176,70,75,-5,11,62,226,14,34,91
37,9,15,152,82,72,-5,36,91,162,13,5,87
38,12,3,138,73,84,-5,11,95,181,4,6,80
39,17,8,95,56,81,-6,6,68,199,48,7,78
40,15,10,104,68,69,-7,10,40,228,2,3,88
41,33,8,85,68,77,-6,7,73,171,1,5,90
42,16,8,96,39,57,-6,23,32,216,37,3,87
43,14,15,136,40,90,-9,6,35,198,5,13,84
44,29,17,98,69,88,-4,5,75,162,39,12,88
45,25,4,88,62,66,-2,58,44,182,7,5,88
46,27,13,176,75,67,-4,8,80,202,24,6,88
47,25,4,100,79,69,-3,17,67,214,19,5,88
48,34,10,104,70,59,-6,41,50,218,23,3,88
49,9,15,95,79,75,-6,7,61,206,21,12,82

Видим, что в датасете нет пропусков. Выделим целевой признак.

In [9]:
target_col = 'Popularity'
y = df[target_col]
x = df.drop(target_col, axis=1)

Разделим выборку на тестовую и обучающую.

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=3)

Обучение методом k ближайших соседей с произвольным k

In [11]:
def print_metric(y_test, y_pred):
    print(f"R^2_score: {r2_score(y_test, y_pred)}")
    print(f"MSE: {mean_squared_error(y_test, y_pred)}")
    print(f"MAE: {mean_absolute_error(y_test, y_pred)}")

def print_cv_result(cv_model, x_test, y_test):
    print(f'Оптимизация метрики {cv_model.scoring}: {cv_model.best_score_}')
    print(f'Лучший параметр: {cv_model.best_params_}')
    print('Метрики на тестовом наборе')
    print_metric(y_test, cv_model.predict(x_test))
    print()

Возьмем k = 5

In [12]:
k = 5
regr_k = KNeighborsRegressor(n_neighbors=k)
regr_k.fit(x_train, y_train)
y_pred_base = regr_k.predict(x_test)
print_metric(y_test, y_pred_base)

R^2_score: 0.01166666666666738
MSE: 14.23199999999999
MAE: 2.8666666666666667

Кросс-валидация

In [13]:
metrics = ['r2', 'neg_mean_squared_error', 'neg_mean_absolute_error']
cv_values = [5, 10]

for cv in cv_values:
    print('========== cv = {} =========='.format(cv))
    for metric in metrics:
        params = {'n_neighbors': range(1, 30)}
        knn_cv = GridSearchCV(KNeighborsRegressor(), params, cv=cv, scoring=metric, n_jobs=-1)
        knn_cv.fit(x_train, y_train)
        print_cv_result(knn_cv, x_test, y_test)

========== cv = 5 ==========
Оптимизация метрики r2: -0.09166418969860927
Лучший параметр: {'n_neighbors': 12}
Метрики на тестовом наборе
R^2_score: -0.17959104938271642
MSE: 16.986111111111118
MAE: 3.355555555555556

Оптимизация метрики neg_mean_squared_error: -20.255142857142857
Лучший параметр: {'n_neighbors': 10}
Метрики на тестовом наборе
R^2_score: -0.27518518518518476
MSE: 18.36266666666666
MAE: 3.4399999999999995

Оптимизация метрики neg_mean_absolute_error: -3.5417989417989424
Лучший параметр: {'n_neighbors': 27}
Метрики на тестовом наборе
R^2_score: -0.3805568256871408
MSE: 19.880018289894828
MAE: 3.5604938271604927

========== cv = 10 ==========
Оптимизация метрики r2: -2.82847213570181
Лучший параметр: {'n_neighbors': 5}
Метрики на тестовом наборе
R^2_score: 0.01166666666666738
MSE: 14.23199999999999
MAE: 2.8666666666666667

Оптимизация метрики neg_mean_squared_error: -18.14233333333333
Лучший параметр: {'n_neighbors': 5}
Метрики на тестовом наборе
R^2_score: 0.01166666666666738
MSE: 14.23199999999999
MAE: 2.8666666666666667

Оптимизация метрики neg_mean_absolute_error: -3.3729166666666663
Лучший параметр: {'n_neighbors': 4}
Метрики на тестовом наборе
R^2_score: 0.06452546296296291
MSE: 13.470833333333333
MAE: 2.783333333333333

In [14]:
best_k = 4
y_pred_best = KNeighborsRegressor(n_neighbors=best_k).fit(x_train, y_train).predict(x_test)

Сравним исходную и оптимальную модели

In [15]:
print('Basic model')
print_metric(y_test, y_pred_base)
print('==========================')
print('Optimal model')
print_metric(y_test, y_pred_best)

Basic model
R^2_score: 0.01166666666666738
MSE: 14.23199999999999
MAE: 2.8666666666666667
==========================
Optimal model
R^2_score: 0.06452546296296291
MSE: 13.470833333333333
MAE: 2.783333333333333